/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

/* Resetting Styles */
*,
*::after,
*::before {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e4efe7;
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#difficulty {
  appearance: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

header h1 {
  font-family: "Bungee Outline", Arial, Helvetica, sans-serif;
  font-size: 5rem;
}

header img {
  height: 100px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-width: 338px;
}

#board {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  margin-bottom: 2rem;
}

.cell {
  font-family: system-ui;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  background: #a7c4bc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;
}

.revealed {
  pointer-events: none;
}

/* Stylings for Cell */
[data-val="0"] {
  background: white;
}
[data-val="1"] {
  background: #1cc5dc;
  color: #c0fefc;
}
[data-val="2"] {
  background: #ffe227;
  color: #f58634;
}
[data-val="3"] {
  background: #252525;
  color: #dadada;
}
[data-val="4"] {
  background: #ff449f;
  color: #f0d9e7;
}
[data-val="5"] {
  background: #3e978b;
  color: #c1ffc1;
}
[data-val="6"] {
  background: #f58634;
  color: #ffba5a;
}
[data-val="7"] {
  background: #542e71;
  color: #dcaee8;
}
[data-val="8"] {
  background: #fa1e0e;
  color: #fbceb5;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  transition: top 500ms ease-out;
}

.modal {
  background: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  transform: translateY(35vh);
}

.modal h1 {
  display: none;
}

.modal button {
  background: #6e3192;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 200ms linear;
}

.modal button:hover {
  opacity: 0.75;
}

.modal .finish-time {
  font-family: monospace;
  font-size: 2rem;
  display: none;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  header h1 {
    font-size: 2rem;
  }
  header img {
    height: 2rem;
  }
  .cell {
    width: 1.5rem;
    height: 1.5rem;
  }
}
